{
	"root": true,
	"parser": "@typescript-eslint/parser",
	"plugins": ["@typescript-eslint"],
	"extends": [
		"eslint:recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended"
	],
	"ignorePatterns": ["cli"],
	"settings": {
		"mdx/code-blocks": true,
		"mdx/language-mapper": false
	},
	"overrides": [
		{
			"files": "*.mdx",
			"extends": "plugin:mdx/recommended"
		}
	]
}
